!!!
%html{:lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title Mike's Boxee repo
    %meta{:charset => "utf-8"}/
    %link{:href => "/screen.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
  %body
    %div#page
      %h1 Mike's Boxee Repo
      %p 
        All that's here is my 4oD hack. Add this url 
        = surround "(", ")" do
          = request.url 
        to your repositories under Apps > Extras in Boxee if you want to try it out. 
      %p
        More 
        %a{:href => "http://donotremove.co.uk/weblog/4od-on-boxee"} information is available on my blog 
        and 
        %a{:href => "http://github.com/mikesten/4oD-on-Boxee"} the code is up on github 
        if you'd like to tweak it.
      %div#footer
        %p
          This is an itch-scratching project by Mike Stenhouse of 
          = succeed "." do
            %a{:href => "http://donotremove.co.uk"} donotremove
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    :javascript
      try {
        var pageTracker = _gat._getTracker("UA-360581-5");
        pageTracker._trackPageview();
      } catch(err) {}